{% extends 'layout/base.html' %}
{% load static %}
{% block title %} New Department {% endblock title %}
{% block sub_title %} New Department {% endblock sub_title %}
{% block content %}

<!-- Add department -->
<div class="card mb-3">
  <!-- Add department -->
  <div class="card-body">
    <div class="pt-4 pb-2">
      <h5 class="card-title text-center pb-0 fs-4">Add New Department</h5>
      <p class="text-center small">Enter department details to create new</p>
    </div>

    <!-- <form class="row g-3 " action="" method="POST" novalidate> -->
    <form class="row g-3 needs-validation" novalidate method="POST" action="">
      {% csrf_token %}
      <div class="col-12">
        <label for="yourName" class="form-label">Department Name</label>
        {{ add_form.name }}
        <div class="invalid-feedback">Please, enter Department!</div>
        {{ add_form.name.errors}}
      </div>

      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Create Department</button>
      </div>
    </form>

  </div>
</div><!-- Add department -->
    
<!-- Department List -->
<div class="col-12" id="all-department">
  <div class="card top-selling">
    <div class="card-body pb-0">

      <h5 class="card-title">All Department
        <div class="input-group has-validation">
          <input type="text" name="search_Item" class="" id="search_Item" placeholder="Search you want">
          <span class="input-group-text" id="inputGroupPrepend"> <i class="bi bi-search"></i></span>
        </div>
      </h5>
      <div class="filter">
        <label style="margin-right: 15px;">
          <!-- Per page entry -->
          <form method="get" id="frmPerPage">
            <select class="dataTable-selector" id="dataTableSelector" name="selectPerPage">
              <option>Click</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
            </select> {{perPage}} entries per page
          </form>
        </label>
      </div>

      <div class="horzontal-scroll">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id='searchData'>
            {% if departments %}
              {% for department in departments %}
                <tr>
                  <td scope="row"><b>{{ department.id }}</b></td>
                  <td>{{ department.name }}</td>
                  {% if department.deleted_at == True %}
                    <td><span class="badge bg-success">Active</span></td>                            
                  {% else %}
                    <td><span class="badge bg-danger">Deactivate</span></td>                                                        
                  {% endif %}
                  
                  <td>
                    <a class="badge bg-warning edit" id="{{ department.id }}"><i class="bi bi-pen"></i></a>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>          
      <!-- Disabled and active states and Pagination -->
      <nav aria-label="...">
        <!-- Pagination logic -->
        <ul class="pagination">
          {% if departments.has_previous %}
            <li class="page-item">
              <a class="page-link" href="/department/new_department/?page={{ departments.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
          {% endif %}
          
          {% for n in totalPageList %}
            <li class="page-item"><a class="page-link" href="/department/new_department/?page={{n}}">{{n}}</a></li>
          {% endfor %}

          {% if departments.has_next %}
            <li class="page-item">
              <a class="page-link" href="/department/new_department/?page={{ departments.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="/department/new_department/?page={{ totalPages }}">Last</a>
            </li>
          {% endif %}

        </ul>
      </nav><!-- End Disabled and active states -->
    </div>    
  </div>
</div><!-- End Department List -->

<!-- Modal for edit department -->
<div class="modal fade" id="basicModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Edit Department
            <span>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete Deparment" class="btn btn-sm btn-danger" id="delete"><i class="bi bi-trash"></i></a>
            </span>
          </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="row g-3" novalidate method="POST" action="/department/edit/">
        {% csrf_token %}
        <div class="modal-body">
            <div class="col-12" id="editForm">
            </div>
            <div class="invalid-feedback">Please, enter Department!</div>              
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div><!-- End Basic Modal-->
<!-- End Modal for edit department -->

{% endblock content %}
{% block javascript %}
<script>
  // all jquery working
  $(document).ready(function() {
    // auto form submit
    $('#dataTableSelector').change(()=>{
      $('#frmPerPage').submit();
    })

    // Edit Department Modal 
    $(document).on('click', '.edit', function() {
      // Get data and receive django forms as response
      $.ajax({
        url: '/department/get_department_Data/',
        type: 'GET',
        data : {'dept_id': $(this).attr('id')},
        success:(data)=>{
          if(data){
            // open modal
            $('#basicModal').modal('show'); 

            // Django forms get using ajax
            $('#editForm').html(data)
          }
        }
      })
      
      // Assign href with id in delete anchor tag      
      $('#delete').attr('href', "/department/delete/?d_id=" + $(this).attr('id')) 
    })

    // Warning before delete item
    $('#delete').click(function() {
      confirm('Are you sure delete item? ')
    })

    // Search from database.
    $('#search_Item').keyup(()=>{
      $.ajax({
        type:"GET",
        url:'/department/department_search',
        data:{'search_Item':$('#search_Item').val()},
        success:(data)=>{
          if (data) {
            let result = JSON.parse(data)
            $('#searchData').html('')
            
            for(let i = 0; i<result.response.length; i++){
              let srcData = `<tr><td scope="row"><b> ${result.response[i].id}</b></td>
                <td scope="row">${result.response[i].name}</td>
                ${(result.response[i].deleted_at == 1) ?
                  '<td><span class="badge bg-success">Active</span></td>' : 
                  '<td><span class="badge bg-danger">Deactivate</span></td>'
                }
                
                <td><a class="badge bg-warning edit" id="${result.response[i].id}"><i class="bi bi-pen"></i></a></td></tr>`
              $('#searchData').append(srcData)
            }
          }else{
            // for success - green box
            toastr.error('No data found', 'Data not found');
          }
        }
      })
    })
    
  })
</script>
{% endblock javascript %}

