{% extends 'layout/base.html' %}
{% load static %}
{% block title %} All List {% endblock title %}
{% block sub_title %} All List {% endblock sub_title %}
{% block content %}
<!-- Add department -->
<div class="card mb-3">
    <!-- Add department -->
    <div class="card-body">
      <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Edit Department</h5>
        <p class="text-center small">Enter department details to create new</p>
      </div>
  
      <!-- <form class="row g-3 " action="" method="POST" novalidate> -->
      <form class="row g-3" novalidate method="POST" action="/owner/department_update/">
        {% csrf_token %}
        <div class="col-12">
          <label for="yourName" class="form-label">Department Name</label>
          {{ edit_form.name }}
          <div class="invalid-feedback">Please, enter Department!</div>
          {{ edit_form.name.errors}}
          {{ edit_form.dep_id}}
        </div>
  
        <div class="col-12">
          <button class="btn btn-primary w-100" type="submit">Create Department</button>
        </div>
      </form>
  
    </div>
</div><!-- Add department --> 

{% endblock content %}