<!DOCTYPE html>
<!-- For Static file load. -->
{% load static %}
<html lang="en">

<!-- CSS Files load. -->
{% include 'layout/top_css.html' %}

<body>
  <!-- Navigation -->
{% include 'layout/header.html' %}
<!-- Sidebar -->
{% include 'layout/sidebar.html' %}

<!-- Main block start -->
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{% block sub_title %}{% endblock sub_title %}</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->   
    <!-- Views Message -->
    <div class="message-box-hide">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <p class="text-center text-{{message.tags}}">{{message}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}            
    </div>   
    <!-- Views Message -->

    {% block content %}
    {% endblock content %}        

</main><!-- End #main -->
<!-- Footer -->
{% include 'layout/footer.html' %}
<!-- All js files -->
{% include 'layout/bottom_js.html' %}

{% block javascript %}{% endblock javascript %}
<script>
  // jquery code for mutiple purpose
  $(document).ready(()=>{
    // Message box hide
    setTimeout(() => {
        $('.message-box-hide').fadeOut(3000)
    }, 5000);
    
    // Search dashboard item
    $('#search').click(function () {
      let searchItem = $('#searchText').val()
      let makeId = '#' + searchItem
      $('#search').attr('href', makeId)
    })
  })
  
</script>
</body>

</html>